<%= form_for([@product, @product.reviews.build]) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.label :rating %><br>
    <%= f.select :rating, [['1', 1.to_i],['2', 2.to_i],['3', 3.to_i],['4', 4.to_i],['5', 5.to_i]] %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>